*{
    padding: 0;
    margin: 0;
}

.main-cerontain{
    margin-top: 50px;
    text-align: center;
}
.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.button {
    width:  50px;
}

button img{
    width: 100%;
}